

.portfolio-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	max-width: 100vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 26.24px;
}

.portfolio-row:first-of-type {
	margin-top: 26.24px;
}

.portfolio-item {
	width: 100%;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	height: calc(99.99% * 1/3 - (26px - 26px * 1/3));
	margin-bottom: 26px;
	text-align: center;
}

.portfolio-item:last-child {
	margin-bottom: 0;
}

.portfolio-thumbnail {
	display: inline-block;
	cursor: pointer;
}

.portfolio-drawer {
	background-color: $dark-base-color;
	height: 550px;
	overflow: hidden;
	transition: height .9s ease-in-out;
}

.portfolio-drawer-detail {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 10px;
	opacity: 1;
	transition: opacity 1s  ease-in-out;
}

.portfolio-drawer-detail-image, .portfolio-drawer-detail-content {
	width: 100%;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	height: calc(99.99% * 1/2 - (26px - 26px * 1/2));
	margin-bottom: 26px;
}

.portfolio-drawer-detail-image:last-child, .portfolio-drawer-detail-content:last-child {
	margin-bottom: 0;
}

.portfolio-drawer-detail-content {
	color: $light-base-color;
	text-align: left;
}

@media ( min-width: 48.0625rem ) {

	.portfolio-row {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		max-width: 90vw;
		margin-left: auto;
		margin-right: auto;
	}

	.portfolio-item-header {
		text-align: left;
	}

	.portfolio-item {
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: calc(99.99% * 1/4 - (26px - 26px * 1/4));
	}

	.portfolio-item:nth-child(n) {
		margin-right: 26px;
	}

	.portfolio-item:last-child {
		margin-right: 0;
	}

	.portfolio-item:nth-child(4n) {
		margin-right: 0;
	}

	.portfolio-item-next-row {
		margin-left: calc(99.99% * (-1/4 * -1) - (26px - 26px * (-1/4 * -1)) + 26px) !important;
	}

	.portfolio-drawer {
		float: left;
		position: absolute;
		left: 0;
		right: 0;
		height: 470px;
	}
	
	.portfolio-drawer-detail-image, .portfolio-drawer-detail-content {
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: calc(99.99% * 1/2 - (26px - 26px * 1/2));
	}
	
	.portfolio-drawer-detail-image:nth-child(n), .portfolio-drawer-detail-content:nth-child(n) {
		margin-right: 26px;
	}
	
	.portfolio-drawer-detail-image:last-child, .portfolio-drawer-detail-content:last-child {
		margin-right: 0;
	}
	
	.portfolio-drawer-detail-image:nth-child(2n), .portfolio-drawer-detail-content:nth-child(2n) {
		margin-right: 0;
	}
}