@lost flexbox flex;
@lost gutter 26px;
$base-color: rgb(169,194,214);
$light-base-color: rgb(244, 247, 250);
$dark-base-color: rgb(21, 24, 27);
$light-link-color: rgb(214, 169, 171);
$dark-link-color: rgb(85, 97, 107);
$ms-bases: 1.25rem;
$ms-ratios: 1.618;
