*, *:before, *:after {
	box-sizing: border-box;
}

@import 'normalize';
@import 'grid';

.portfolio-row {
	@mixin row;
    margin: auto;
}

.portfolio-item {
	@mixin col 1, 3;
	text-align: center;
}

.portfolio-thumbnail {
	display: inline-block;
	cursor: pointer;
}

.portfolio-drawer {
	background-color: black;
	float: left;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 500px;
	overflow: hidden;
	transition: height .7s ease-in-out;
}

.portfolio-drawer-detail {
	display: flex;
	padding: 20px 10px;
	opacity: 1;
	transition: opacity .4s  ease-in-out;
}

.portfolio-drawer-detail-image,
.portfolio-drawer-detail-content {
	@mixin col 1, 2;
}

.portfolio-drawer-detail-content {
	color: #fff;
	text-align: left;
}

.push-it {
	margin-top: 10px;
	transition: margin-top .7s ease-in-out;
}
.push-it-real-good {
	margin-top: 500px;
}

.hide {
  height: 0;
  
  .portfolio-drawer-detail {
    opacity: 0;
  }
}